xlrd==1.0.0
python-magic==0.4.12
messytables==0.15.2
progressbar==2.3
SQLAlchemy>=0.6.6
requests==2.11.1
six==1.11.0

-e git+https://github.com/qld-gov-au/ckanext-archiver.git@2.1.0-qgov.1#egg=ckanext-archiver
-e git+https://github.com/qld-gov-au/ckanext-report.git@0.1#egg=ckanext-report
